body {
    display:flex;
    flex:1;
    flex-direction: column;
    margin: 0px;
}



header, footer, .hero {
    background-color: #1f2937;
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
}
.left-header {
    display: flex;
    padding-left: 50px;
}

#nav {
    padding: 5px 5px;
    border: 1px solid #f9faf8;
    border-radius: 25px;
}

.right-header {
    display: flex;
    gap: 16px;
    padding-right: 50px;
}

footer {
    justify-content: center;
    align-items: center;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    

}

#logo {
    font-family: 'roboto', sans-serif;
    color: #f9faf8;
    font-size: 24px;
    
}

#copyright {
    color: #f9faf8;
    font-size:14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px 0px;
    border: 1px solid #f9faf8;
    border-radius: 8px;
    padding: 4px;
  
}

.text {
    text-decoration: none;
    color: #e5e7eb;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 100;
}  

.awesome {
    font-family: 'roboto', sans-serif;
    font-size: 48px;
    color: #f9faf8;
    text-shadow: 3px 3px gray;

}

.hero-img {
    display: flex;
    flex: 0 1 1;
    justify-content: center;
    align-items: center;
    width: 35%;

   
}

#hero-placeholder {
    width: 400px;
    height: auto;
    background-color: grey;
    text-align: center;
    flex: 1;
 
}



.container {
    margin-top: 50px;
    padding-bottom: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1500px;
}

.sub-hero {
    display: flex;
    flex-direction: column; 
    flex: 0 1 1;
    width: 35%;
      
}

#signup {
    background-color: #3882f6 ;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    width: 120px ;
    flex: 0 1 0;
    box-shadow: #f9faf8 5px 5px;
}


.hero {
    display: flex;
    justify-content: center;
}

.card .text {
    color: black;
    text-align: center;
}

.box {
    width: 200px;
    height: 200px;
    border:5px solid #3882f6;
    border-radius: 25px;
    flex: 1 1 1;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

#info {
    font-family: 'roboto', sans-serif;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    margin-top: 50px;
}

.wrapper {
    display: flex;
    justify-content: center;  
    flex-wrap: wrap; 
    gap: 40px;
    margin: 0px;

}


.quote {
    background-color: #e5e7eb;
}

#quote {
    font-size: 36px;
    font-weight: 100;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-style: italic;
}

#h3bold {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    color: black;
    font-size: 24px;
}

.sub-quote {
  width: 750px;

}

.sub-quote #h3bold {
    text-align: end;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 0px ;
}

.sub-signup #h3bold {
    color: #f9faf8;
}

.sub-signup {
    display: flex;
    height: 150px;
    background-color: #3882f6;
    border-radius: 20px;
    flex: 5;
    margin: 75px 0;
    justify-content: space-around;
    align-items: center;

}

.padding {
    flex: 1;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
}


.sub-signup #signup {
    border: 2px solid#f9faf8;

}

