body {
    display:flex;
    flex:1;
    flex-direction: column;
    margin: 0px;

}




header, footer, .hero {
    background-color: #1f2937;
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
}
.left-header {
    display: flex;
    padding-left: 50px;
}


.right-header {
    display: flex;
    gap: 16px;
    padding-right: 50px;
}

footer {
    justify-content: center;

}

#logo {
    font-family: 'roboto', sans-serif;
    color: #f9faf8;
    font-size: 24px;
    
}

#copyright {
    color: #f9faf8;
    
    font-size:12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 0px;
    margin-left: 0px;
  
}

.text {
    text-decoration: none;
    color: #e5e7eb;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 100;
}  

.awesome {
    font-family: 'roboto', sans-serif;
    font-size: 48px;
    color: #f9faf8
}

.hero-img {
    display: flex;
    flex: 0 1 1;
    justify-content: center;
    align-items: center;
    width: 35%;

   
}

#hero-placeholder {
    width: 400px;
    height: auto;
    background-color: grey;
    text-align: center;
    flex: 1;
 
}



.container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1500px;
}

.sub-hero {
    display: flex;
    flex-direction: column; 
    flex: 0 1 1;
    width: 35%;
      
}

#signup {
    background-color: #3882f6 ;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    width: 120px ;
    flex: 0 1 0;

}


.hero {
    display: flex;
    justify-content: center;
}

.card .text {
    color: black;
    text-align: center;
}

.box {
    width: 200px;
    width: 200px;
    border:3px #3882f6;
}